@model IEnumerable<siges.Models.TipoProducto>

@{
    ViewData["Title"] = "Tipo de Producto";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Tipo de Producto</h2>
        </div>
        <div class="col align-self-center text-right">
            <a onclick="btnAdd()" class="btn btn-success marg-Float float" data-toggle="tooltip" data-placement="bottom" title="Agregar" data-original-title="Tooltip on bottom"><i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col margBott4em">
            <table id="tableTipoProducto" data-toggle="table" data-search="true" data-show-columns="false" data-pagination="true" data-locale="es-MX" data-classes="table table-hover" data-page-size="5"  data-page-list="[5,10,25]" data-show-footer="true" data-sort-name="name">
                <thead>
                    <tr>
                        <th data-visible="false" data-field="id"></th>
                        <th data-sortable="true" data-field="name">Descripción</th>
                        <th class="mobileHidden">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td class="mobileHidden">
                                <a class="btn btn-success float_Table" data-toggle="tooltip" data-placement="bottom" title="Acciones" data-original-title="Tooltip on bottom"><i class="fab fa-elementor"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        const btnAdd = () => {
            const token = $("[name='__RequestVerificationToken']").val();
            Swal.fire({
                title: "Agregar Tipo de Producto",
                confirmButtonColor: "#67E7CF",
                confirmButtonText:"Guardar",
                cancelButtonText:"Cancelar",
                reverseButtons: true,
                showCancelButton: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCloseButton: true,
                closeButtonHtml: '<i class="fas fa-times"></i>',
                html:`
                    <div class="form-group text-left">
                        <label class="control-label">Tipo de Producto *</label>
                        <input id="txtTipoProducto" type="text" class="form-control" />
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Campo Opcional</label>
                        <input id="txtOp1" type="text" class="form-control" />
                    </div>
                    <div class="form-group text-left">
                        <label class="control-label">Campo Opcional</label>
                        <input id="txtOp2" type="text" class="form-control" />
                    </div>
                    <div class="form-group text-right">
                        <small>* Campos obligatorios</small>
                    </div>
                `,
                onOpen: () => {
                    $("input[type='text']").attr("onkeyup",'this.value = this.value.toUpperCase();');
                },
                preConfirm: () =>{
                    if($("#txtTipoProducto").val().length === 0){
                        $("#txtTipoProducto").attr("style", "border-color: #f27474!important;box-shadow: 0 0 2px #f27474!important;");
                    }
                    else{
                        $("#txtTipoProducto").removeAttr("style");
                    }
                    if($("#txtTipoProducto").val().length === 0){
                        Swal.showValidationMessage("Algún campo obligatorio está vacío");
                    }
                }
            }).then(result => {
                if(result.value){
                    $.ajax({
                        url: '@Url.Action("Create","TipoProducto")',
                        method: "POST",
                        data: {
                            __RequestVerificationToken: token,
                            tpDTO:{
                                Descripcion: $("#txtTipoProducto").val(),
                                Opcional1: $("#txtOp1").val(),
                                Opcional2: $("#txtOp2").val()
                            }
                        },
                        async: true,
                        dataType: "json",
                        success: res => {
                            if(res.success){
                                Swal.fire({
                                    icon: 'success',
                                    title: '¡Éxito!',
                                    confirmButtonColor: "#67E7CF",
                                    confirmButtonText:"Aceptar",
                                    text: `El Tipo de Producto se registró con éxito`,
                                    onClose: ()=>{
                                        location.reload(true);
                                    }
                                }).then((result) => {
                                    if (result.value) {
                                        location.reload(true);
                                    }
                                });
                            }
                            else{
                                Swal.fire({
                                    icon: 'error',
                                    title: '¡Error!',
                                    confirmButtonColor: "#67E7CF",
                                    confirmButtonText:"Aceptar",
                                    text: `El Tipo de Producto ya existe`
                                });
                            }
                        }
                    });
                }
                else{
                    Swal.close();
                }
            });
        }

        const btnDetails = element => {
            $.ajax({
                url: '@Url.Action("Details","TipoProducto")',
                method: "GET",
                data: {
                    id: element.id
                },
                async: true,
                dataType: "json",
                success: data => {
                    if(data.success){
                        Swal.fire({
                            title:"Detalles",
                            confirmButtonColor: "#67E7CF",
                            confirmButtonText:"Aceptar",
                            html:`
                                <div class="form-group text-left">
                                    <label class="control-label">Tipo de Producto</label>
                                    <input type="text" class="form-control" value="${(data.data.descripcion===null)?"":data.data.descripcion}" readonly/>
                                </div>
                                <div class="form-group text-left">
                                    <label class="control-label">Campo Opcional</label>
                                    <input type="text" class="form-control" value="${(data.data.opcional1 === null)?"":data.data.opcional1}" readonly/>
                                </div>
                                <div class="form-group text-left">
                                    <label class="control-label">Campo Opcional</label>
                                    <input type="text" class="form-control" value="${(data.data.opcional2 === null)?"":data.data.opcional2}" readonly/>
                                </div>
                            `
                        });
                    }
                }
            });
        }

        const btnEdit = element => {
            const token = $("[name='__RequestVerificationToken']").val();
            $.ajax({
                url: '@Url.Action("Details","TipoProducto")',
                method: "GET",
                data: {
                    id: element.id
                },
                async: true,
                dataType: "json",
                success: data => {
                    if(data.success){
                        Swal.fire({
                            title: "Editar Tipo de Producto",
                            confirmButtonColor: "#67E7CF",
                            confirmButtonText:"Guardar",
                            cancelButtonText:"Cancelar",
                            reverseButtons: true,
                            showCancelButton: true,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCloseButton: true,
                            closeButtonHtml: '<i class="fas fa-times"></i>',
                            html:`
                                <div class="form-group text-left">
                                    <label class="control-label">Tipo de Producto *</label>
                                    <input id="txtTipoProducto" type="text" class="form-control" value="${(data.data.descripcion===null)?"":data.data.descripcion}" />
                                </div>
                                <div class="form-group text-left">
                                    <label class="control-label">Campo Opcional</label>
                                    <input id="txtOp1" type="text" class="form-control" value="${(data.data.opcional1 === null)?"":data.data.opcional1}" />
                                </div>
                                <div class="form-group text-left">
                                    <label class="control-label">Campo Opcional</label>
                                    <input id="txtOp2" type="text" class="form-control" value="${(data.data.opcional2 === null)?"":data.data.opcional2}" />
                                </div>
                                <div class="form-group text-right">
                                    <small>* Campos obligatorios</small>
                                </div>
                            `,
                            onOpen: ()=>{
                                $("input[type='text']").attr("onkeyup",'this.value = this.value.toUpperCase();');
                            },
                            preConfirm: () =>{
                                if($("#txtTipoProducto").val().length === 0){
                                    $("#txtTipoProducto").attr("style", "border-color: #f27474!important;box-shadow: 0 0 2px #f27474!important;");
                                }
                                else{
                                    $("#txtTipoProducto").removeAttr("style");
                                }
                                if($("#txtTipoProducto").val().length === 0){
                                    Swal.showValidationMessage("Algún campo obligatorio está vacío");
                                }
                            }
                        }).then(result =>{
                            if(result.value){
                                $.ajax({
                                    url: '@Url.Action("Edit","TipoProducto")',
                                    method: "POST",
                                    data: {
                                        __RequestVerificationToken: token,
                                        id: element.id,
                                        tpDTO:{
                                            Id:element.id,
                                            Descripcion: $("#txtTipoProducto").val(),
                                            Opcional1: $("#txtOp1").val(),
                                            Opcional2: $("#txtOp2").val()
                                        }
                                    },
                                    async: true,
                                    dataType: "json",
                                    success: res => {
                                        if(res.success){
                                            Swal.fire({
                                                icon: 'success',
                                                title: '¡Éxito!',
                                                confirmButtonColor: "#67E7CF",
                                                confirmButtonText:"Aceptar",
                                                text: `El Tipo de Producto se modificó con éxito`,
                                                onClose: ()=>{
                                                    location.reload(true);
                                                }
                                            }).then((result) => {
                                                if (result.value) {
                                                    location.reload(true);
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                            else{
                                Swal.close();
                            }
                        });
                    }
                }
            });
        }

        const btnDelete = element => {
            const token = $("[name='__RequestVerificationToken']").val();
            Swal.fire({
                icon: 'error',
                title: `El Tipo de Producto ${element.name} se eliminará`,
                text: `¿Seguro que deseas eliminarlo?`,
                reverseButtons: true,
                showCancelButton: true,
                confirmButtonText:"Si, Eliminar",
                cancelButtonText:"No, Cancelar",
                confirmButtonColor:"#E74C3C",
                cancelButtonColor: "#67E7CF",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCloseButton: true,
                closeButtonHtml: '<i class="fas fa-times"></i>'
            }).then(result => {
                if(result.value){
                    $.ajax({
                        url: '@Url.Action("Delete","TipoProducto")',
                        method: "POST",
                        data: {
                            __RequestVerificationToken: token,
                            id: element.id
                        },
                        async: true,
                        dataType: "json",
                        success: res => {
                            if(res.success){
                                Swal.fire({
                                    icon: 'success',
                                    title: '¡Éxito!',
                                    confirmButtonColor: "#67E7CF",
                                    confirmButtonText:"Aceptar",
                                    text: `El Tipo de Producto ${element.name} ha sido eliminada`,
                                    onClose: ()=>{
                                        location.reload(true);
                                    }
                                }).then(result => {
                                    if (result.value) {
                                        location.reload(true);
                                    }
                                });
                            }
                        }
                    });
                }
                else{
                    Swal.close();
                }
            });
        }

        $('#tableTipoProducto').on('click-row.bs.table', (row, element, field) => {
            Swal.fire({
                title: `${element.name}`,
                showConfirmButton:false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCloseButton: true,
                closeButtonHtml: '<i class="fas fa-times"></i>',
                html:`
                    <div class="form-row margTop40">
                        <div class="form-group col">
                            <a onclick="btnDetails({'id':'${element.id}'})" class="btn btn-success float" data-toggle="tooltip" data-placement="bottom" title="Detalles" data-original-title="Tooltip on bottom"><i class="fas fa-search"></i></a>
                            <label class="d-block margTop5px">Detalles</label>
                        </div>
                        <div class="form-group col">
                            <a onclick="btnEdit({'id':'${element.id}', 'name':'${element.name}'})" class="btn btn-success float" data-toggle="tooltip" data-placement="bottom" title="Editar" data-original-title="Tooltip on bottom"><i class="fas fa-edit"></i></a>
                            <label class="d-block margTop5px">Editar</label>
                        </div>
                        <div class="form-group col">
                            <a onclick="btnDelete({'id':'${element.id}', 'name':'${element.name}'})" class="btn btn-success float" data-toggle="tooltip" data-placement="bottom" title="Eliminar" data-original-title="Tooltip on bottom"><i class="fas fa-trash"></i></a>
                            <label class="d-block margTop5px">Eliminar</label>
                        </div>
                    </div>
                `
            });
        });
    </script>
}