@using System;
@using siges.Models;
@using System.Globalization;
@{
    OrdenServicio os = ViewData["ordenServicio"] as OrdenServicio;
    List<OrdenServicio> osR = null;
    if (ViewData["osRecurrente"] != null)
    {
        osR = ViewData["osRecurrente"] as List<OrdenServicio>;
    }
}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">@os.Folio</h1>
                <p class="lead">Folio de la nueva orden de servicio</p>
                <hr class="my-4"/>
                <div class="row">
                    <div class="col-lg">
                        <p>Cliente: <b>@os.Cliente.RazonSocial</b></p>
                        <p>Ubicación: <b>@os.Ubicacion.Nombre</b></p>
                        <p>Linea de negocio: <b>@os.LineaNegocio.Nombre</b></p>
                        <p>Servicio: <b>@os.Servicio.Nombre</b></p>
                        <p>Fecha inicio: <b>@(((DateTime)(os.FechaInicio)).ToString("D", CultureInfo.CreateSpecificCulture("es-ES")))</b></p>
                        <p>Fecha fin: <b>@(((DateTime)(os.FechaFin)).ToString("D", CultureInfo.CreateSpecificCulture("es-ES")))</b></p>
                    </div>
                    @if (osR != null)
                    {
                        <div class="col-lg">
                            <div class="card text-center">
                                <div class="card-header">
                                    Orden de servicio recurrente
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Folios y fechas programadas</h5>
                                    @foreach (OrdenServicio o in osR)
                                    {
                                        <hr class="my-4">
                                        <p class="card-text"><b>@o.Folio</b></p>
                                        <p class="card-text"><b>Inicio:</b> @(((DateTime)(o.FechaInicio)).ToString("f", CultureInfo.CreateSpecificCulture("es-ES")))</p>
                                        <p class="card-text"><b>Fin:</b> @(((DateTime)(o.FechaFin)).ToString("f", CultureInfo.CreateSpecificCulture("es-ES")))</p>
                                    }
                                </div>
                                <div class="card-footer text-muted">
                                    @(osR.Count + 1) servicios en total
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr class="my-4"/>
                <div class="row">
                    <div class="col-md-6 offset-md-8 col-lg-10 offset-lg-6">
                        <button id="btnBack" class="btn btn-warning" type="button" onclick="location.href='@Url.Action( "IndexListOS", "Servicio")'">Volver al listado</button>
                        @if (!User.IsInRole("Ventas"))
                        {
                            <button id="btnEdit" class="btn btn-primary" type="button" onclick="location.href='@Url.Action("IndexEditOS", "Servicio", new {ordenId = @os.Id})'">Editar</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>